* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background: url("../img/books.png");
    background-size: cover;
    background-repeat: no-repeat;
}

body.rtl {
    direction: rtl;
}

h1 {
    color: #222222;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 0px 2px 3px #a9aaa9;
    margin-top: 40px;
}

table {
    border-collapse: collapse;
    margin: auto;
    width:fit-content;
}

tbody {
    background-color: #ebebeb;
}

tr {
    border-bottom: 1px solid gray;
    height: 70px;
}

td, th {
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
}

th {
    background-color: #222222;
    color: white;
}

button.add {
    padding: 10px 15px;
    border-radius: 4px;
    transition: all 0.4s;
    font-family: 'Raleway', sans-serif;
    background-color: #d8d8d8;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button.add:hover {
    padding: 10px 25px;
    background-color: black;
    color: white;
}

button.sumbit-book, button.submit-update {
    padding: 5px 15px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    background-color: #d8d8d8;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.4s;
}

button.sumbit-book:hover {
    background-color: black;
    color: white;
}

td button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 8px 2px rgb(66 66 66 / 75%);
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    opacity: 0.87;
    transition: all 0.2s;
}

td button:hover {
    opacity: 1;
}

td.book-title {
    width: 500px;
}

td.book-price {
    width: 200px;
}

td.book-rating {
    width: 80px;
}

td.action-td {
    width: 200px;
}

button.read {
    background-color: #4791db;
}

button.update {
    background-color: #ffb74d;
}

button.delete {
    background-color: #f44336;
}

.langs {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-inline-start: 40px;
    position: absolute;
    top: 10px;
}

.he, .en {
    border: 2px solid white;
    padding: 3px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.he:hover, .en:hover {
    background-color: #222222;
    color: white;
}

.table-container {
    margin: 20px auto;
    align-self: center;
    width: 668px;
    height: 420px;
}

.book-title {
    font-weight: bold;
}

.pages-container {
    width: fit-content;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.pages {
    display: flex;
    justify-content: space-between;
}

.page, .pages-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin: 3px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

.page:not(.active-page):hover {
    background-color: #ebebeb;
}

.active-page {
    background-color: #fbe0e9;
    color: #dd1364;
    border: 1px solid #dd1364;
}

.sort {
    cursor: pointer;
}

.update-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 300px;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 200px;
    padding: 10px;
    background-color: #ffb84de7;
    margin: auto;
    border: 5px solid black;
    border-radius: 5px;
}

[name=new-price] {
    margin-top: 20px;
}

.title-for-update {
    font-weight: bold;
}

button.submit-update {
    margin-top: 10px;
    background-color: #fff;
}

button.submit-update:hover {
    padding: 5px 25px;
    background-color: black;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    overflow: auto;
    width: 60%;
    padding: 10px;
    background-color: #fff;
    margin: auto;
    border: 5px solid gray;
    border-radius: 5px;
}

button.close {
    height: 25px;
    width: 25px;
    position: fixed;
    right: 10px;
    top: 10px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid gray;
    transition: all 0.2s;
    cursor: pointer;
}

button.close:hover {
    background-color: #a9aaa9;
}

img {
    width: 200px;
    height: 350px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.rating-container-outer {
    display: flex;
    flex-direction: column;
}

.rating-container-inner {
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.rating-container-outer p {
    font-weight: bold;
}

.rating-container-inner button:not(.save-rating) {
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.rating-container-inner button:hover {
    background-color: #fbe0e9;
    border: 1px solid #dd1364;
}

.rating-container-inner button:active {
    background-color: #dd1364;
    color: white;
}

.save-rating {
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
    padding: 5px 10px;
}